.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  width: 75%;
  justify-content: space-around;
}
.card-main {
  display: flex;
  justify-content: center;
  text-align: center;
}

.slots {
  display: flex;

  flex-direction: column;
}
